.mini{
  display: flex;  justify-content: space-around;
}
nav{
  background-color: rgba(0, 0, 0, 0.75) ; justify-content: space-between;
}
ul{
  display: flex; justify-content: space-between; text-decoration: none;
  list-style-type: none;
}
a{
  justify-content: space-between; margin: 10px; color: bisque;
}
img{
  width: 5%;  
}
.input{
background-color: rgba(0, 0, 0, 0.175);
border: 1px solid grey; border-radius: 20px; width: 10%;

}
a:hover{
  color: cadetblue; 
}